@import '../../../styles.scss';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .tasklist-wrap {
    height: 450px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    .sidebar-wrap {
      background: #ffffff6b;
      padding: 20px 0px;
      width:250px
    }
    .all-tasks {
      background: #ffffffc9;
      width: 500px;
      padding: 18px 16px;
      .heading {
        color:$color_primary;
      }
    }
  }

}
